.title {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  color: var(--secondary);
}

.title h2,
.title span {
  font-size: 24px;
  font-weight: 700;
}

.title span {
  color: var(--primary);
}

.details {
  color: var(--light);
  font-size: 14px;
  font-weight: 400;
  line-height: 18.23px;
  margin-top: 4px;
  margin-bottom: 7px;
}

.subtitle {
  margin-top: 22px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.83px;
  color: var(--secondary);
}

.information {
  margin-top: 8px;
}

.truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* truncate to 4 lines */
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.readMore {
  color: var(--primary);
  font-weight: 700;
}

.sizes {
  display: flex;
  gap: 16px;
  overflow-x: scroll;
}

.sizes div {
  margin-top: 13px;
  padding: 8px 12px;
  border: 1px solid var(--light);
  font-size: 14px;
  color: var(--light);
  border-radius: 16px;
  text-wrap: nowrap;
}
.sizes .selected {
  border-color: var(--primary);
  color: var(--primary);
}

.actions {
  margin-top: 50px;
  display: flex;
  gap: 24px;
}

.bagButton {
  border: 0.8px solid var(--primary);
  border-radius: 12px;
  padding: 15px;
}
